<%- include("layout")%>
    <h1>
        Genre:<%= genre.name %>
    </h1>
    <div style="margin-left:20px;margin-top:20px">
        <h4>Books</h4>
    <dl>
            <% if(genre_books) { %>
                <% for(let book in genre_books){ %>
                    <dt><a href="<%= genre_books[book].url %>"> <%= genre_books[book].title %></a></dt>
                    
            
        
        <dd><%= genre_books[book].summary %></dd>
        <% } %>
        
    </dl>
    <% }else { %>
        <li>This genre has no books.</li>
    <% } %>
</div>
</div>
</div>
</div>
</body>
</html>
        