<%- include("../layout")%>
    <h1>
        <%= title %>
    </h1>

    <form method="POST" action="">
        <div class="form-group">
            <label for="title" >Title:</label>
            <input class="title form-control" type="text" placeholder="Name of book" name="title" required="true" value="<%= undefined===locals.book ? '' : book.title %>" >
        
        </div>
        <div class="form-group">
            <label for="author" >Author:</label>
            <select  class="author form-control" type="select" name="author" id="" placeholder="Select author" required="true">
                <% for(author of authors){ %>
                    <% if(locals.book){ %>
                        <option value="<%= author._id %>" selected="<%= author._id.toString()==book.author ? 'selected' : false%>" > <%= author.name %></option>
                    <% }else{ %>
                        <option value="<%= author._id %>"><%= author.name %></option>
                    <% } %>
                <% } %>

            </select>
            
        </div>
        <div class="form-group">
            <label for="summary" >Summary:</label>
            <input class="summary form-control" type="textarea" placeholder="Summary" name="summary" required="true" value="<%= undefined===locals.book ? '' : book.summary %>">
        </div>
        <div class="form-group">
            <label for="isbn" >ISBN:</label>
            <input class="isbn form-control" type="text" placeholder="ISBN13" name="isbn" value="<%= undefined===locals.book ? '' : book.isbn %>" required="true">
        </div>

        <div class="form-group">
            <label >Genre:</label>
            <div>
                <% for(genre of genres){ %>
                    <div style="display: inline; padding-right:10px;">
                        <input  class="checkbox-input" type="checkbox" name="genre" id="<%= genre._id %>" value="<%= genre._id %>" checked="<%= genre.checked %>">
                        <label for="<%= genre._id %>"><%= genre.name %></label>
                    </div>

                <% } %>
            </div>
        </div>
        <button class="btn btn-primary" type="submit">Submit</button>
        <% if(locals.errors){ %>
            <ul>
                <% for(let error of errors){ %>
                    <li>
                        <%=   error.msg  %>
                    </li>
                    <% } %>
            </ul>
            <% } %>







    </form>
            </div>
            </div>
            </div>
            </body>

            </html>